.container {
  margin-top: 20px;
}

mat-card {
  background-color: lightgray;
}

#logo {
  position: absolute;
  left: 700px;
  top: 0px;
  width: 400px;
  height: 200px;
}

li {
  margin: 10px 0px;
}
